:host-context(.parent-1)  {
  display: block;
  background-color: red;
  border: 2px solid green;
} 

/* :host /deep/ div{
  color: yellow;
} */


:host >>> div{
  color: yellow;
}












/* :host{
    display: inline-block;
    padding: 30px;
    margin: 30px; 
    border: 2px solid black;
    width: 200px;
    text-align: center;
} */
/* whenerve what target the coustom  element */
/* :host(.active){
    border-color: red;
} */
/* 
.blue{
  background-color: aqua;
}
h1{
  color: rgb(104, 30, 30);
} */

/* :host {

  display: block;
} */
/* 
host-context you Know the parent element have to target it then you should  use the  host- context 
  :host-context(.parent-1)  {
  display: block;
  color: blue;
  background-color: red;
  border: 2px solid green;
} 

*/