<!-- <div  [ngClass]='isActive'>chor: leelawebDev</div> -->
<!-- <div [ngClass]="['isActive', 'a ','b' ]">chor: leelawebDev</div> -->
<!-- <div  [ngClass]="{isActive:true , a:true, b: false}">chor: leelawebDev</div> -->
<!-- <div  [ngClass]="isActive">chor: leelawebDev</div> -->
<!-- <div [class.active]="true">Author : Angular web lab</div> -->
<!-- <div [class]="['a','b','c']">Author : Angular web lab</div> -->
<!-- <div [ngClass]="['a','b','c']">Author :Sam Solean</div>
<div [class]="{a:true, b:true, c: true}">Author : Angular web lab</div> -->
<div [ngClass]="{'a x':true, b:true, c: true}">Author :Sam Solean</div>
<div [class]="{'a x':true, b:true, c: true}">Author : Angular web lab</div>